input {
{% for beat in beats %}
  beats {
    port => {{ beat.port }}
    type => "{{ beat.type }}"
    {% if beat.linux %}
  codec => plain { charset => "UTF-8" }
    codec => multiline {
              pattern => "^\["
              negate => true
              what => "previous"
            }
    {% endif %}
}
{% endfor %}

{% for tcp in tcps %}
  tcp {
        type => "{{ tcp.type }}"
        port => {{ tcp.port }}
  }
{% endfor %}

}
